
.user-item{
    color:#fff;
    width:22%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:15px;
    padding:25px;
    box-shadow: 0px 0px 0px 0.5px #ccc;
    border-radius: 10px;
}